*{
    box-sizing: border-box;
}


body , html{
    font-family: "Lato" , sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100%;
}

a{
    background-color: transparent;
    color: inherit;
}

p{
    margin-bottom: 0;
    margin-top: 5px; 
}


.navbar{
    top: 0%;
    left: 0%;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: auto;
}

.black{
    color: #ffffff!important;
    background-color: #000000!important;
}

.navbar-item{
    float: left;
    width: auto;
    border: none;
    display: block;
    font-size: 20px;
}

.padding-large{
    padding: 2% 4%!important;
}

.button{
    transition: all 200ms ease;
    float: left;
    text-decoration: none;
    color: white; 
    transition: all 200ms ease;
}

.button:hover{
    color: #000000!important;
    background-color: #ccc!important;
}

.containerImmagine{
    background-image: url("../festival.jpg");
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;   
}

.containerBlur{
    height: 100%;
    width: 100%;

    backdrop-filter: blur(5px);

    padding-top: 10%;
}


.containerCentrale{
    background-color: white;
    text-align: center;

    margin-left: 25%;
    margin-right: 25%;

    padding-top: 40px;
    padding-bottom: 40px;
    height: 500px;

    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;

    display: flex;
    flex-direction: column;

    min-width: 565px;
}

.tabella{
    padding-left: 80px;
    padding-right: 80px;
}




.riga{
    margin-top: 5px;
    display: flex;
    justify-content:space-between;
}

.containerColumn{
    display: flex;
    flex-direction: column;
    width: 45%;
}


.textInput{
    border: 1px solid #ccc;
    padding-left: 10px; 
    padding-right: 15px;
    height: 40px;
    width:100%;
    min-width: 200px;
}

.dateInput{
    padding: 10px 40px 10px 40px;
    font-family: "Roboto Mono" , monospace;
    border: 1px solid #ccc
}


.containerData{
    margin-right: 40px ;
    margin-left: 15%;
    margin-bottom: 20px;
    
}

#codiceFiscale{
    margin-top: 40px;
}

#numeroCivicoInput{
    border: 1px solid #ccc;
    padding-left: 10px; 
    padding-right: 15px;
    height: 40px;
    width: 12%;
    margin-right: 43%;
    min-width: 60px;
}


.continuaButton{
    margin-left: 85%;
    border: 1px solid #ccc;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-weight: 1000;
}


.errorLabel{
    color : red;
    font-weight: bolder;
}

.floatRight{
    float: right;
}
